.parallax1 {
    margin-top: 109px;
    background-image: url('../assets/pexels-delbeautybox-853427.jpg');
    min-height: 700px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.picPara1 {
    width: 700px;
    background-color: grey;
    opacity: .5;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.flex1 {
    display: flex;
    justify-content: center;

}
.parallax2 {
    background-image: url('../assets/pexels-pixabay-161737.jpg');
    min-height: 700px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

